<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Observable</key>
	<array>
		<dict>
			<key>Title</key>
			<string>创建一个序列</string>
			<key>Class</key>
			<string>CreateController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>组合Observable</string>
			<key>Class</key>
			<string>mergeController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>可被监听序列</string>
			<key>Class</key>
			<string>otherObservableController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Observer</string>
			<key>Class</key>
			<string>ObserverControllerViewController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Subjects</string>
			<key>Class</key>
			<string>SubjectsController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>变换操作符</string>
			<key>Class</key>
			<string>TransformOperatorController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>过滤操作符</string>
			<key>Class</key>
			<string>FilteringObservablesController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>结合操作符</string>
			<key>Class</key>
			<string>CombiningController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Driver</string>
			<key>Class</key>
			<string>DriverController</string>
		</dict>
	</array>
	<key>UI操作</key>
	<array>
		<dict>
			<key>Title</key>
			<string>label</string>
			<key>Class</key>
			<string>LabelController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UITextField 与 UITextView</string>
			<key>Class</key>
			<string>TextController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UIButton</string>
			<key>Class</key>
			<string>ButtonController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>MVVM</string>
			<key>Class</key>
			<string>MVVMController</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>UITableView 的基本用法</string>
			<key>Class</key>
			<string>tableViewController1</string>
		</dict>
	</array>
</dict>
</plist>
